@use "../abstract" as *;
@use "../components" as *;

.sociale {
  width: 85vw;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .media {
    img {
      width: 100%;
    }
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 300px;
    height: 300px;
    border-radius: 5%;
  }
}
#discord {
  border: 3px solid $color_dicord;
  box-shadow: 0px 0px 20px $color_dicord;
}
#youtube {
  border: 3px solid $color2;
  box-shadow: 0px 0px 20px $color2;
}
#tiktok {
  border: 3px solid $color6;
  box-shadow: 0px 0px 20px $color6;
}
