@use "../abstract" as *;
@use "../components" as *;

.oferta {
  width: 300px;
  height: 350px;
  border: 0px solid $color7;
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-right-radius: 5%;
  background-color: $color7;
  font-family: $font2;
  margin: 20px;
  img {
    margin-top: 0;
    width: 100%;
    border: 0px solid $color7;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
  }
  color: $color1;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  h2 {
    margin: auto;
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
