@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Barrio&family=Gloria+Hallelujah&family=Tiny5&display=swap");

$color1: rgb(247, 247, 247);
$color2: rgb(255, 0, 0);
$color3: rgb(98, 255, 0);
$color4: rgb(0, 106, 255);
$color5: rgb(204, 0, 255);
$color6: rgb(0, 0, 0);
$color7: rgba(132, 0, 0);
$color_dicord: rgba(114, 137, 218);

$font1: "Bangers", system-ui;
$font2: "Tiny5", sans-serif;
$font3: "Gloria Hallelujah", cursive;
$font4: "Barrio", system-ui;
