@use "../abstract/variables" as *;

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 15px $color2;
  padding: 1vh;
  font-family: $font1;
  font-size: 60px;
  color: $color6;
  background-color: $color1;
  width: 100%;
  position: fixed;
  top: 0;
  a {
    color: $color6;
  }
  div {
    width: 75px;
    height: 75px;
    z-index: 1000;

    background-image: url("../../img/KOLOR_MC_nobg.png");
    background-size: contain;

    &:hover {
      background-image: url("../../img/KOLOR_MC_logo.png");
    }
  }

  h1 {
    margin-left: 20px;
    margin-right: 20px;
    height: 75px;
    display: flex;
    align-items: center;

    &:hover {
      color: $color2;
    }
  }
}
