@use "../abstract/variables" as *;

.opis {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-family: $font2;
    font-size: 10vh;
  }
  h4 {
    font-family: $font3;
    font-size: 4vh;
    text-align: center;
    line-height: 1.4;
  }
}
